<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842164943845-ou1vuirnrfc9iufgo9q2b8sq9cju1r9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842164943845-ou1vuirnrfc9iufgo9q2b8sq9cju1r9r</string>
	<key>API_KEY</key>
	<string>AIzaSyBSkrQVV9W1xObce2Hjm9XWQqRunPVz6ug</string>
	<key>GCM_SENDER_ID</key>
	<string>842164943845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catdiary.VODA</string>
	<key>PROJECT_ID</key>
	<string>voda-40cbb</string>
	<key>STORAGE_BUCKET</key>
	<string>voda-40cbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842164943845:ios:f552e9fe3c521798f30d0c</string>
</dict>
</plist>